<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div className="container">
            <h3>Update Post</h3>
         
         <form className="container" method="post" action="/fupdatepost/<%= index %>">
            
                <div class="mb-3">
                    
        <label for="title" class="form-label">ID</label>
        <input type="number" disabled class="form-control" id="id" name="id" value=<%= postData.id %> />
       
       
       </div>
       <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title"  value=<%= postData.title %> />
        
       
       </div>
       <div class="mb-3">
        <label for="des" class="form-label">Description</label>
        <input type="text" class="form-control" id="des" name="des"  value=<%= postData.des %> />
        
       </div>
       
       <button href='http://localhost:7799/fupdatepost/<%= index %>'  class="btn btn-primary" >Update</button>
      
</form>
</div>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>